<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="utf-8" />
<wicket:head>
	<style>
</style>
</wicket:head>
</head>
<body>
	<wicket:border>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h1>
							Pluggable <small> framework</small>
						</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-inverse" role="navigation">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a href="#" class="navbar-brand" wicket:id="homePage">Home</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#" wicket:id="featurePage">Feature</a></li>
								<li><a href="#" wicket:id="contactPage">Contact</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<div class="container">
							<h1>Pluggable</h1>
							<p class="lead">is designed to provide plugin architecture
								for java web application development</p>
							<h1>Android PUSH</h1>
							<p class="lead">push by country, push by city.</p>
							<p>
								Click here for <a href="#" wicket:id="loginPage">demo</a>
							</p>
							<dl class="dl-horizontal">
								<dt>Username</dt>
								<dd>demo</dd>
								<dt>Password</dt>
								<dd>demo</dd>
							</dl>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<wicket:body />
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<hr />
					<footer>
						<p>© 2013 powered by iTrust Cambodia, AngkorPOS, AngkorLand</p>
					</footer>
				</div>
			</div>
		</div>

	</wicket:border>
</body>
</html>